.sidebar{
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    flex: 1;
    top: 50px;
    position: sticky;
}
.sidebarWrapper{
    color: #555;
    padding: 20px;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    color: rgb(187, 186, 186);
    font-size: 13px;
}
.siderbarlist{
    padding: 5px;
    list-style: none;
}
.sidbarlistitem{
    cursor: pointer;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    display: flex;
}
.sidbarlistitem.active,
.sidbarlistitem:hover{
    background-color: rgb(240, 240, 255);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}