.stat{
    width: 100%;
  display: flex;
  justify-content: space-between;
}
.statItem{
    flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.statTitle{
    font-size: 20px;
}
.statMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.statMoney{
    font-size: 30px;
    font-weight: 600;
}
.statMoneyRate{
    
}